
#AboutMeImages {
    width: 50vw;
}

.aboutMeImage {
    width: 100%;
    border-radius: 1vw;
}

#AboutMeText {
    width: 50vw;
    text-align: justify;
    color: #58427c;
}

#img1 img, #img2 img, #img3 img, #img4 img{
    border: 0.375vw solid #58427c;
    border-radius: 1vw;
}

#changeImagesButton {
    border: 0.25vw solid #58427c;
    border-radius: 0.5vw;
    font-size: 150%;
    color: #58427c;
}

.aboutMeFigure {
    width: 50vw;
}

.imageGroup1 {
    display: inline-block;
}
.imageGroup2 {
    display: none;
}