body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #58427c;
    padding: 15px;
    color: white;
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleIcon {
    height: 3vw;
    width: 3vw;
    margin: 0 1.5vw;
}

.titleArt {
    height: 3vw;
    width: auto;
    margin: 0 1.5vw;
}
