body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #58427c;
    padding: 15px;
    color: white;
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Align items to the ends */
    align-items: center;
    position: sticky;
    top: 0;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust the distance from the left */
}

audio {
    display: none;
}


#toggleImage, #toggleDucks {
    height: 3vw;
    width: auto;
    margin-right: 1vw;
    margin-left: 1vw;
}

.titleIcon,
.titleArt {
    height: 3vw;
    width: auto;
    margin: 0;
}