body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

header {
    background-color: #58427c;
    padding: 15px;
    color: white;
    width: 100%;
    font-size: 3dvw;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Align items to the ends */
    align-items: center;
    position: sticky;
    top: 0;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust the distance from the left */
}

audio {
    display: none;
}


#toggleImage, #toggleDucks {
    height: 3dvw;
    width: auto;
    margin-right: 1dvw;
    margin-left: 1dvw;
}

.titleIcon,
.titleArt {
    height: 3dvw;
    width: auto;
    margin: 0;
}

#NavBar {
    display: flex;
	padding: 1dvw;
}

.NavButton{
    border: 2px solid #58427c;
    color: #58427c;
    border-radius: 25px;
    height: 100%;
    margin: 1dvw 3dvw;
    padding: 1dvw;
    font-size: 1.5dvw;
    width: 10dvw;
}


.Seperator {
    background-color: #58427c;
    height: 0.5dvw;
    width: 100dvw;
}