
#Project_1_1_9 {
    width: 45dvw;
}
#Project_1_2_5 {
    width: 45dvw;
}
#ScratchProject {
    width: 45dvw;
}
#Project_2_1_6 {
    width: 45dvw;
}
#Project_3_1_6 {
    width: 45dvw;
}
#Project_1_1_9 .SLIDE {
    width: 100%;
    height: 28vw;
}
#Project_1_2_5 .SLIDE {
    width: 100%;
    height: 28vw;
}
#Project_2_1_6 .SLIDE {
    width: 100%;
    height: 28vw;
}

.ProjectImage {
    width: 100% ;
}

#slowroadGame {
    margin: 0;
    padding: 0;
    position: relative;
    width: 95vw;
    height: 90vh;
}
html {
    overflow-x: hidden;
}